/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  font-family: "Poppins", sans-serif;
}

/* Date Picker Styles */
input[type="date"] {
  background-color: #3b82f6;
  padding: 4px;
  color: #ffffff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #bfdbfe;
  padding: 4px;
  cursor: pointer;
  border-radius: 3px;
}
